
<ion-content *ngIf="!chatWith.userName">
  <app-top-bar [auth]="true" [back]="false"></app-top-bar>
  <div class="friends">
    <app-friend-list-view [title]="'Friends'" [friendList]="ServInd.getFriends()" (friendData)=chooseChat($event)></app-friend-list-view>
  </div>
  <div class="otherfriends">
    <app-friend-list-view [title]="'Make new Friends'" [friendList]="ServInd.getOnlineNotFriends()" (friendData)=chooseChat($event)></app-friend-list-view>
  </div>
  
</ion-content>

<ion-content *ngIf="chatWith.userName">
  <app-top-bar [auth]="true" [back]="true" [title]="chatWith.userName" (goback)="returnback()"></app-top-bar>
  <div style="height: 83%;">
    <app-chat [friend]="chatWith"></app-chat>
  </div>
  
</ion-content>