p {
  color: white;
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  margin-top: auto;
  flex-shrink: 0;
}

.ActiveIcon{
  fill: green;
  font-size: 17px;
  flex-shrink: 0;
}

.header{
  position: fixed;
}

.items{
  padding-top: 12%;
}

.onlineIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}