<!-- <ion-content> -->
<!-- <div> -->
  
<ion-header translucent>
  <ion-toolbar class="header">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<div class="items">
  <ion-item *ngFor="let item of friendList" (click)="chooseChat(item)">
    <ion-icon name="person-add-outline" src="assets/icon/person-add-outline.svg" slot="start"></ion-icon>
    <ion-label>
      <h2>{{item.userName}}</h2>
    </ion-label>
    <div *ngIf="item.isActive" class="onlineIcon" slot="end">
      <ion-icon class="ActiveIcon" name="radio-button-on" src="assets/icon/filled-circle.svg" ></ion-icon>
      <p *ngIf="item.newMessege.length > 0">{{item.newMessege.length}}</p>
    </div>
    
  </ion-item>
</div>


<!-- </div> -->
<!-- </ion-content> -->