ion-button{
  margin-right: auto;
  margin-left: auto;
  width: 62%;
  font-size: 20px;
  height: 70%;
}
ion-item, ion-label{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
h3{
  text-align: center;
}